<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Study4 Layout</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<!-- Header -->
<header th:fragment="header">
    Đây là header mặc định
</header>

<!-- Main Content -->
<main th:fragment="content">
    Nội dung mặc định
</main>

<!-- Footer -->
<footer th:fragment="footer">
    Đây là footer mặc định
</footer>
</body>
</html>
