<!DOCTYPE html >
        <html lang="en" xmlns:th="http://www.thymeleaf.org"    >
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
            <link rel="stylesheet" type="text/css" href="/css/sign_up.css">
            <link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body style="display: block">
<div th:replace="~{layout::header}"></div>
<div th:fragment="content" class="login-container content">
    <div class="form-section">
        <h2>Sign Up</h2>
        <form th:action="@{/user/createUser}" th:object="${user}" method="post">
            <input type="text" th:field="*{username}" placeholder="Username" required>
            <input type="password" th:field="*{password}" placeholder="Password" required>
            <input type="text" th:field="*{re_password}" placeholder="Re-Password" required>
            <button type="submit">Create</button>
        </form>

        <a th:href="@{/home/log_in}">I am already a member</a>
    </div>

    <div class="illustration-section">
        <img src="https://via.placeholder.com/300" alt="Illustration">
    </div>
</div>
<div th:replace="~{layout::footer}"></div>
</body>
</html>
