<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study4 Clone</title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
</head>
<body >
<!-- Header -->
<div th:replace="~{layout::header}"></div>

<!-- Content -->
<div layout:fragment="content" class="content" style="display: flex">
    <!-- Categories -->
    <div class="left_site">
    <h2>Thư Viện Đề Thi</h2>
<!--    <div class="categories">-->
<!--        <a href="#">Tất cả</a>-->
<!--        <a href="#">IELTS Academic</a>-->
<!--        <a href="#">IELTS General</a>-->
<!--        <a href="#">TOEIC</a>-->
<!--        <a href="#">HSK 1</a>-->
<!--        <a href="#">HSK 2</a>-->
<!--        <a href="#">HSK 3</a>-->
<!--        <a href="#">Toán THPTQG</a>-->
<!--        <a href="#">Vật lý THPTQG</a>-->
<!--        <a href="#">Sinh học THPTQG</a>-->
<!--    </div>-->

    <!-- Search Bar -->

    <!-- Exam List -->
    <div class="exam-list" >
        <div class="exam-card" th:each="exam : ${exams}" th:data-id="${exam.getID()}"  >
            <h3 th:text="${exam.getName()} "></h3>
            <p>⏱ 120 phút | 👥 101 | 💬 15</p>
            <p th:value="${user_google}" >7 phần thi | 200 câu hỏi</p>
            <div class="tags">
                <span class="tag">#Toiec </span>
            </div>
        </div>
    </div>
    </div>
<div class="right_side">
    <div class="sidebar">

        <div class="user-goal">
            <h4>trinhngockien142004</h4>
            <div class="checkbox-item">
                <input type="checkbox"> Bạn chưa tạo mục tiêu cho quá trình luyện thi của mình. Tạo ngay.
            </div>
            <a href="#">Thống kê kết quả</a>
        </div>

        <div class="ad-section">
            <h4>STUDYA</h4>
            <p>COME INTENSIVE COURSES</p>
            <p>Listening - Reading - Writing - Speaking</p>
        </div>

        <div class="ad-section">
            <h4>STUDY4</h4>
            <p>SCORE CALCULATOR</p>
            <p>TÍNH ĐIỂM THỂ</p>
            <p>CHÍNH XÁC 100%</p>
        </div>

        <div class="ad-section">
            <p>Tra từ điển, tạo flashcards</p>
            <p>mọi lúc mọi nơi</p>
            <p>STUDYA EXTENSION</p>
        </div>

        <div class="ad-section">
            <a href="https://www.facebook.com/groups/517057750992723" target="_blank">
            <img src="/images/facebook_group.PNG" alt="Facebook"  style="width: 100%; height: auto;" >
            </a>
            <p>Tham gia nhóm facebook</p>
        </div>
    </div>
</div>
    <script src="../../js/index.js"></script>
</div>
<div th:replace="~{layout::footer}"></div>

</body>

</html>

